<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            {% if user.username not in ['admin1', 'admin2'] %}
            <td>
                <form method="POST" action="/remove_user/{{ user.id }}">
                    <button type="submit" style="background-color: red; color: white;">Delete</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <a href="/dashboard">Back to Dashboard</a>
    <footer class="footer">
        <p>&copy; SIX7ONE8 CODEZ 2025</p>
    </footer>
</body>
</html>